<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href='static/css/bootstrap.css'/> <!--Publically available style sheet used for aesthetics only-->
    <!--This "KeyError: 'favicon.ico'" error came out of nowhere;
    working one sec and then kaput the next-->

    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href='static/css/style.css'/>
    <title>XSS Demo</title>
    <h1> {{request.path}} </h1>
    <!DOCTYPE html>
<html lang="en">

 <body id="form">

  {% for message in get_flashed_messages()%}
    {{message|safe}} <br>
  {%endfor%}

      <form action="" method="post">
           <div class ="form__fieldset">
            <label for="msg" class="form__label fw-light text-white m-0">msg</label>
            <input type="text" name="msg" id="msg" class="form__input">
           </div>

           <input class="form__submit form__input btn btn-outline-light" type="submit"
           value="Echo!">
           <i class="fas fa-expand ms-2"></i>

      </form>
  </body>
 <footer>
 </footer>
</html>
